.logo{
  width: 2.5rem;
}
.right-Nav i {
  font-size: 1.5rem;
  color: rgb(131, 131, 131);
}
.Search{
  width: 45rem;
  border-radius: 5px;
  padding: 0.8rem;
  font-size: 1.2rem;
  background-color: rgb(239, 239, 239);
  border: none;
}
.right-Nav i{
  padding: 10px;
  cursor: pointer;
}
.right-Nav i:hover{
  border-radius: 50px;
  background-color: rgb(225, 224, 224);
}
.name{
  color: rgb(131, 131, 131);
  font-weight: 500;
  font-size: 1.5rem;
}
.addNote{
  box-shadow: 5px 10px 18px #888888;
  padding: 0.5rem;
  width: 40rem;
}
.navbar{
  border-bottom: 1px solid rgb(216, 216, 216);
}
.notes{
  margin: 2.5rem 0;

}
.icons{
  color:#888888;
  
}
Link{
  color: black;
  text-decoration: none;
}
